@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
  }

  .spin-box {
    animation: spin 2s linear infinite;
    font-size: 2.5rem;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  .animate-float-delay {
    animation: float 8s ease-in-out infinite;
  }

  .marquee-text {
    font-size: 1.5rem;
    color: #4CAF50;
    font-weight: bold;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
  }
}
